@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
	--font-sans: "Geist", sans-serif;

	--color-background: hsl(var(--theme-background));
	--color-foreground: hsl(var(--theme-foreground));

	--color-muted: hsl(var(--theme-muted));
	--color-muted-foreground: hsl(var(--theme-muted-foreground));

	--color-popover: hsl(var(--theme-popover));
	--color-popover-foreground: hsl(var(--theme-popover-foreground));

	--color-card: hsl(var(--theme-card));
	--color-card-foreground: hsl(var(--theme-card-foreground));

	--color-primary: hsl(var(--theme-primary));
	--color-primary-foreground: hsl(var(--theme-primary-foreground));

	--color-secondary: hsl(var(--theme-secondary));
	--color-secondary-foreground: hsl(var(--theme-secondary-foreground));

	--color-accent: hsl(var(--theme-accent));
	--color-accent-foreground: hsl(var(--theme-accent-foreground));

	--color-destructive: hsl(var(--theme-destructive));
	--color-destructive-foreground: hsl(var(--theme-destructive-foreground));

	--color-border: hsl(var(--theme-border));
	--color-input: hsl(var(--theme-input));
	--color-ring: hsl(var(--theme-ring));
}

@layer base {
	:root {
		--theme-background: 0 0% 100%;
		--theme-foreground: 240 10% 3.9%;

		--theme-card: 0 0% 100%;
		--theme-card-foreground: 240 10% 3.9%;

		--theme-popover: 0 0% 100%;
		--theme-popover-foreground: 240 10% 3.9%;

		--theme-primary: 240 5.9% 10%;
		--theme-primary-foreground: 0 0% 98%;

		--theme-secondary: 240 4.8% 95.9%;
		--theme-secondary-foreground: 240 5.9% 10%;

		--theme-muted: 240 4.8% 95.9%;
		--theme-muted-foreground: 240 3.8% 46.1%;

		--theme-accent: 240 4.8% 95.9%;
		--theme-accent-foreground: 240 5.9% 10%;

		--theme-destructive: 0 84.2% 60.2%;
		--theme-destructive-foreground: 0 0% 98%;

		--theme-border: 240 5.9% 90%;
		--theme-input: 240 5.9% 90%;
		--theme-ring: 240 5.9% 10%;
	}

	.dark {
		--theme-background: 240 10% 3.9%;
		--theme-foreground: 0 0% 98%;

		--theme-card: 240 10% 3.9%;
		--theme-card-foreground: 0 0% 98%;

		--theme-popover: 240 10% 3.9%;
		--theme-popover-foreground: 0 0% 98%;

		--theme-primary: 0 0% 98%;
		--theme-primary-foreground: 240 5.9% 10%;

		--theme-secondary: 240 3.7% 15.9%;
		--theme-secondary-foreground: 0 0% 98%;

		--theme-muted: 240 3.7% 15.9%;
		--theme-muted-foreground: 240 5% 64.9%;

		--theme-accent: 240 3.7% 15.9%;
		--theme-accent-foreground: 0 0% 98%;

		--theme-destructive: 0 62.8% 30.6%;
		--theme-destructive-foreground: 0 0% 98%;

		--theme-border: 240 3.7% 15.9%;
		--theme-input: 240 3.7% 15.9%;
		--theme-ring: 240 4.9% 83.9%;
	}

	* {
		@apply border-border;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply bg-background h-dvh flex flex-col text-foreground font-sans antialiased overflow-hidden;
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}

	main {
		@apply flex flex-col flex-1;
	}

	::selection {
		@apply bg-primary text-primary-foreground;
	}

	::-webkit-scrollbar {
		width: 5px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: hsl(var(--color-border));
		border-radius: 5px;
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: hsl(var(--color-border)) transparent;
	}
}
